@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: black
}
h1 {
  font-size: 5rem; /* Equivalent to text-4xl in Tailwind CSS */
  font-weight: bold;  /* Equivalent to font-bold */
  color: #1a202c;     /* Equivalent to text-gray-900 */
}
h3 {
  font-size: 1.25rem; /* Equivalent to text-4xl in Tailwind CSS */
  font-weight: bold;  /* Equivalent to font-bold */
  color: #1a202c; 
}
p {
  font-size: .75rem; 
  color: #1a202c; 
}
body {
  background-color: light-beige;
  color: var(--accent-warm-gray);
  font-family: "default-font";
}
.section-header {
  font-weight: 600;
  margin-left: 12rem; 
  margin-right: 12rem; 
  text-decoration: underline;
  text-underline-offset: 4px;
}