@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  color: white
}
body {
  background-color: light-beige;
  color: var(--accent-warm-gray);
  font-family: Arial, sans-serif;
}

/* 
button {
  background-color: var(--secondary-light-blue);
  color: var(--primary-beige);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-soft-blue);
}

footer {
  background-color: var(--accent-soft-gray);
  color: var(--accent-warm-gray);
  padding: 10px;
  text-align: center;
} */
